* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  background-image: url("./images/bg-pattern-top-mobile.svg");
  background-repeat: no-repeat;
}
.conenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}
.parte1 {
  text-align: center;
  padding: 1rem;
}
.parte1 h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
.parte1 p {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  font-size: large;
}

.parte2 {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}

.estrellas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.parte2h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(300, 43%, 22%);
  font-weight: 500;
}

.parte3 {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}
.ordenar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ordenar2 {
  padding: 1rem;
}
.icono {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.parte3 h3 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}
.colorp {
  color: hsl(333, 80%, 67%);
  font-weight: 500;
}

.ordenar3 {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .parte1y2 {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  .parte1 {
    width: 15rem;
  }
  .parte1 h1 {
    margin-bottom: 1rem;
    text-align: left;
  }
  .parte1 p {
    text-align: left;
    font-size: large;
  }
  .parte2 {
    display: flex;
    flex-direction: row;
  }
  .tarjeta1 {
    margin-right: 3rem;
    height: 1rem;
    align-items: center;
  }
  .tarjeta2 {
    margin-right: 2rem;
    margin-left: 2rem;
    height: 1rem;
    align-items: center;
  }
  .tarjeta3 {
    margin-left: 3rem;
    height: 1rem;
    align-items: center;
  }
  .estrellas img {
    padding: 2px;
  }
  .parte2h3 {
    padding: 1rem;
  }

  .contenedorParte3 {
    display: flex;
    flex-direction: row;
  }
  .parte3 {
    padding: 1rem;
  }
  .etiqueta1 {
    margin-bottom: 3rem;
  }
  .etiqueta2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .etiqueta3 {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  main {
    background-image: url("./images/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat;
  }
  .parte1 {
    width: 35rem;
  }
  .parte1 h1 {
    text-align: left;
    font-size: 50px;
    width: 20rem;
  }
  .parte1 p {
    text-align: left;
    width: 27rem;
  }

  .tarjeta1 {
    margin-right: 6rem;
  }
  .tarjeta2 {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .tarjeta3 {
    margin-left: 6rem;
  }
  .parte3 {
    padding: 3rem;
  }
}
@media screen and (min-width: 1440px) {
  main {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .parte1 {
    width: 50rem;
  }
}
